<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <ScreenCam.Properties.Settings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>586, 301</value>
            </setting>
            <setting name="LastStorageLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="EditorWindowSize" serializeAs="String">
                <value>450, 300</value>
            </setting>
            <setting name="EditorWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CaptureCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>30</value>
            </setting>
        </ScreenCam.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
